<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>
      <p *ngIf="error" class="loginError">
        {{ errorMessage }}
      </p>
      <p class="button">
        <button mat-button type="submit" (click)="submitForm()" [disabled]="!this.forgotPasswordForm.valid">Submit</button>
      </p>
      <p class="button">
        <button mat-button (click)="cancel()" >Cancel</button>
      </p>
      <p class="button">
        <button mat-button (click)="login()" >Login</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
